* {
    font-family: 'Monserrat', sans-serif;
    color: #4a4a4a;
    overflow: hidden;
    box-sizing: border-box;
}

.main-title {
    font-size: 4em;
    font-weight: 700;
}

.main-small-title {
    font-size: 1.3em;
}

#selectors .row {
    position: fixed;
    bottom: 0;
}

#card-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn-danger {
    width: 60px;
    height: 60px;
    background-color: #f43a56;
}

#main-btn {
    padding-bottom: 3em;
}

.glyphicon {
    color: #fff;
    font-size: 1.3em;
}

.glyphicon-pencil {
    font-size: 1.8em;
}